#jskWaitingAnimationCover, #jskWaitingAnimationWrapper
{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#jskWaitingAnimationCover
{
	background: #fff;
	z-index: 100;
}

#jskWaitingAnimationWrapper
{
	z-index: 101;
	text-align: center;
	vertical-align: middle;
	padding-top: 200px;
}

#jskWaitingAnimationImage
{
	position: absolute;
	left: -32000px;
}

#jskWaitingAnimationBorder
{
	display: inline-block;
	padding: 20px;
//	border: 1px solid #888;
//	border-radius: 20px;
//	box-shadow: 0 0 20px #005bae;
//	background: #fff;
}

//======================================================
// ДИАЛОГИ
//======================================================

.ui-widget-overlay { opacity: 0.8; }

.ui-dialog{
	padding: 4px 14px 0;

	.ui-dialog-titlebar{ padding: 0; }

	.ui-dialog-content{
		padding: 10px 2px;
	}

	.ui-dialog-buttonpane{
		background: #fff;
		padding-right: 0;
	}

	button{
		border: 0 none;
		border-radius: 4px;
		padding: 6px 10px;
		margin-right: 6px;

		&:last-of-type{ margin-right: 0; }
	}
}

// функция раскрасски диалогов

._dlg_colors (@hue) {
	background: hsl(@hue, 100%, 93%);

	.ui-dialog-titlebar{
		border-top: 0 none;
		border-left: 0 none;
		border-right: 0 none;
		border-bottom-color: hsl(@hue, 50%, 75%);

		.ui-dialog-title{
			color: hsl(@hue, 50%, 40%);
		}
	}

	.ui-dialog-content{
		color: hsl(@hue, 50%, 40%);
	}

	.ui-dialog-buttonpane{
		background: hsl(@hue, 100%, 93%);
		border-top-color: hsl(@hue, 50%, 75%);
		-webkit-box-shadow: none;
		box-shadow: none;

		button{
			background: hsl(@hue, 70%, 85%);
			color: hsl(@hue, 50%, 40%);

			&:focus{ outline: none; }

			&:hover{
				background: hsl(@hue, 100%, 75%);
				color: hsl(@hue, 60%, 30%);
			}
		}
	}
}

.dlg_danger{
	._dlg_colors(40);
}

.dlg_info{
	._dlg_colors(180);
}

.dlg_success{
	._dlg_colors(120);
}

.dlg_error{
	._dlg_colors(360);
}


//-----------------------------------------
.jsk_mini_dialog{
	padding: 20px;
	display: inline-block;
	background: #fff;
	border: 1px solid #aaa;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);

	.jsk_mini_dlg_title{
		font-weight: bold;
		margin: -10px -20px 16px -20px;
		padding-bottom: 10px;
		border-bottom: 1px solid #DDD;
	}

	.controls {
		text-align: left;
	}

	.jsk_buttons{
		margin-top: 16px;

		.btn{
			margin-right: 6px;

			&:last-of-type { margin-right: 0; }
		}
	}
}